{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    Home page
    <div style='height: 300px;'></div>
    <a href='/user-list'><button class='logout'>User-list</button></a>
    <a href='/logout'><button class='logout'>Logout</button></a>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}